<!DOCTYPE html>
<html lang="en">
<html>
    <head> 
        <title>Personal Profile Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/style.css" type="text/css">
        <link rel="stylesheet" href="static/css/skins/pink.css" type="text/css">

                                  <!--Live Style Switcher - Demo Only-->
        <link rel="stylesheet" href="static/css/styleSwitcher.css" type="text/css">


    </head>
   <body>
       <!--main-container-->  
       <div class="main-container">
          <!--Aside begins-->
           <div class="aside">
               <!--logo-->
               <div class="logo">
                <img src="static/images/about/9.png" style="border-radius: 60px;" alt="School Logo" class="shadow-dark" width="120px" height="120px">
                <a href="#" style="color: #0dcaf0;">AItech</a> 
               </div>
               <!--Nav-->
               <ul class="nav">
                   <li><a href="{{ url_for('admin') }}" class="active"><i class="fa fa-user"></i>Admin</a></li>
                   <li><a href="#about"><i class="fa fa-user"></i>Teacher</a></li>
                   <li><a href="#services"><i class="fa fa-user"></i>Student</a></li>
                   <li><a href="#portfolio"><i class="fa fa-user"></i>Non-Teaching</a></li>
                   <li><a href="#blog"><i class="fa fa-arrow"></i>File Download</a></li>
                   <li><a href="#contact"><i class="fa fa-arrow"></i>Upload File</a></li>
               </ul>
               <!--Copyright-->
               <div class="copyright-text" style="color: #0dcaf0;">
                    &copy;  @AItech 
               </div>
           </div>
           <!--Aside ends-->

           <section class="blog section">
            <h1>Data from MySQL Database</h1>
            <table>
                <tr>
                    <th>fullname</th>
                    <th>username</th>
                    <th>phone</th>
                    <th>email</th>
                    <th>password</th>
                </tr>
                {% for row in data %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                    </tr>
                {% endfor %}
            </table>

          </section>

          <div class="lightbox-caption">
            <div class="caption-text"></div>
            <div class="caption-counter"></div>
        </div>
        </div>
        <div class="lightbox-controls">
          <div class="prev-item" onclick="prevItem"><i class="fa fa-angle-left"></i></div>
          <div class="next-item" onclick="nextItem"><i class="fa fa-angle-right"></i></div>
        </div>
    </div>

<!-- Lightbox ends-->

<!--Live Switcher begins-->
<div class="style-switcher">
  <div class="toggle-style-switcher">
    <i class="fa fa-cog fa-spin" ></i>
  </div>
  <h5>Body Skin</h5>
  <label>
    <input type="radio" class="body-skin" name="body-style" value="light" checked="true">
    Light
  </label>
  <input type="radio" class="body-skin" name="body-style" value="dark">
    Dark
  </label>
</div>
<!--Live Switcher end-->

<!--Javascript Template-->
<script src="static/js/script.js"></script>

<!-- styleSwitcher Javascript -->
<script src="static/js/styleSwitcher.js"></script>
</body>
</html>
